<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="format-detection" content="telephone=yes">
		<meta http-equiv="pragma" content="no-cache">
		<meta http-equiv="cache-control" content="no-cache">
		<meta http-equiv="expires" content="0"> 
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
		<link rel="shortcut icon" href="../../images/favicon.ico" />
		<link rel="bookmark" href="../../images/favicon.ico" type="image/x-icon"/>
		<title>金螳螂质量满意度-中国装饰行业持续领跑者</title>
		<link rel="stylesheet" href="../../css/base.css" />
		<link rel="stylesheet" href="../../css/emc/detail.css" />
		<link rel="stylesheet" href="../../css/mobiscroll_date.css" />
	</head>
	<body>
	<div id="mydApp" class="myd-con">
		<!--header-->
		<!-- <div class="header">
			<div class="header-content clearfix">
				<div class="header-left" v-on:click="goBack" style="display:none;">
					<img src="../../images/emc/list/return.png">
					<span>返回</span>
				</div>
				<div class="header-middle">
					<span>调查详情</span>
				</div>
			</div>
			    </div> -->
		<div class="content" id="wrapper">
			<div id="scroller">
				<div class="feedback">
					<div class="fbtop">
						<span></span>
						<div class="clearfix">
							<div class="tipType">
								<span class="character">客户反馈</span>
								<!-- <span></span> -->
							</div>
							<div class="tipOwner">
								<a v-bind:href="'tel:'+content[0].tel"><div class="tipOwnerName claerfix"><span></span><p v-html="content[0].name"></p></div></a>
								<div class="tipOwnerTime" v-cloak>{{rawData.Pm_Satisfaction.Feedback_Time.substring(5,10)}}</div>
							</div>
						</div>
					</div>
					<div class="fbbottom">
						<div class="bottomWhite">
							<div class="score">
								<div class="rating" v-cloak>
									<div class="rating_item clearfix" v-for="a in starData">
										<p v-html="a.name"></p>
										<ul class="clearfix">
											<template v-for="n in 5">
												<li v-bind:type="a.id" v-bind:index="n" v-if="n <= (a.score / pico)" class="redstar"></li>
												<li v-bind:type="a.id" v-bind:index="n" v-if="n > (a.score / pico)" class="purestar"></li>
											</template>
										</ul>
										<p v-if="a.score==pico">投诉</p>
										<p v-if="a.score==pico*2">不满意</p>
										<p v-if="a.score==pico*3">一般</p>
										<p v-if="a.score==pico*4">满意</p>
										<p v-if="a.score==pico*5">非常满意</p>
									</div>
								</div>
								<div class="rating_line">
									<p v-bind:style="{color:colors[0]}" v-cloak>{{colors[1]}}{{total}}</p>
									<div class="color_contain">
										<div class="color_white"></div>
										<div v-bind:style="{width: total+'%',backgroundColor:colors[0]}" class="color_on"></div>
									</div>
								</div>
							</div>
							<div class="advice">
								<p v-html="customSuggest"></p>
							</div>
						</div>
					</div>
				</div>
				<div class="approvalFlow" v-for="(a,index) in rawData.Satisfaction_Pmc_List">
					<div class="fbtop">
						<span></span>
						<div class="clearfix">
							<div class="tipType">
								<span v-if="a.Role==1" class="character">工管中心建议</span>
								<span v-if="a.Role==2" class="character">项目经理建议</span>
								<span v-if="a.Role==3" class="character">客户反馈意见</span>
								<span class="levelabc" v-if="rawData.Pm_Satisfaction.Grade==1&&a.Role==1">A</span>
								<span class="levelabc" v-if="rawData.Pm_Satisfaction.Grade==2&&a.Role==1">B</span>
								<span class="levelabc" v-if="rawData.Pm_Satisfaction.Grade==3&&a.Role==1">C</span>
							</div>
							<div class="tipOwner">
								<a v-bind:href="'tel:'+a.Review_User_Tel" v-if="a.Role==2"><div class="tipOwnerName claerfix"><span></span><p v-html="a.Review_User_Name"></p></div></a>
								<div class="tipOwnerTime" v-cloak>{{a.Audit_Date.substring(5,10)}}</div>
							</div>
						</div>
					</div>
					<div class="fbbottom">
						<div class="bottomWhite">
							<div class="advice">
								<p v-html="a.Suggestion"></p>
							</div>
							<div class="image" v-if="a.Attachments && a.Attachments.length>0">
								<ul class="clearfix">
									<template v-for="(b,index) in a.Attachments">
										<li v-if="index<3" @click="viewImgs"><img v-bind:src="b.Doc_Path"></li>
									</template>
								</ul>
							</div>
							<!-- <div class="dealTime clearfix" v-if="status==2&&a.Role==1&&index==rawData.Satisfaction_Pmc_List.length-2">
								<p>处理时间</p>
								<span></span>
								<input v-if="status==2" class="closeTime2" type="text" name="closeTime2" readonly="readonly" v-model="closeTime" />
							</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="view">
			<template v-for="(a,index) in viewImg">
				<div class="touch" v-if="index==0" v-bind:style="{marginLeft:displacement + '%'}">
					<div>
						<div>
							<img v-bind:src="a.Doc_Path">
						</div>
					</div>
				</div>
				<div class="touch" v-else>
					<div>
						<div>
							<img v-bind:src="a.Doc_Path">
						</div>
					</div>
				</div>
			</template>
		</div>
		<div class="loading">
		    <div class="loading-content">Loading...</div>
		</div>
		<div class="submit-cover">
			<div class="cover-inner load5">
				<div class="loader">Loading...</div>
			</div>
		</div>
	</div>
	</body>
	<script type="text/javascript" src="../../../lib/jquery/jquery.min.js" ></script>
	<script type="text/javascript" src="../../../lib/iscroll.js" ></script>
	<script type="text/javascript" src="../../../lib/jquery/mobiscroll_date.js" ></script>
	<script type="text/javascript" src="../../../lib/jquery/mobiscroll.js" ></script>
	<script type="text/javascript" src="../../../lib/vue/dist/vue.min.js" ></script>
	<script type="text/javascript" src="../../../lib/vue/dist/vue-resource.min.js" ></script>
	<script type="text/javascript" src="../../../lib/util.js" ></script>
	<script type="text/javascript" src="../../js/yx/detail.js"></script>
</html>
